In [1]:
#별 찍시 함수 파라미터 n
def starprint(n):
    #들어온 n 값만큼 반복해서 출력
    for i in range(n):
        print("*",end="")
    print("\n")
    
print("별10개 찍기");
#메서드 실행 매게변수로 10 넘겨준다.
starprint(10)
print("별3개 찍기");
starprint(3)
print("별5개 찍기");
starprint(5)

별10개 찍기
**********

별3개 찍기
***

별5개 찍기
*****

In [2]:
#값이 넘어오면 그 값만큼 1씩 증가 해서 반복
def intsum(n):
    #누적할 sum변수 생성
    sum=0;
    for i in range(1,n+1,1):
        #누적하고 리턴한다.
        sum+=i
    return sum

#함수 실행한 값 출력 순서대로 파라미터로 값을 넘겨준다.
print("1~10까지의 합:",intsum(10))
print("1~1000까지의 합:",intsum(1000))
print("1~10000까지의 합:",intsum(10000))

1~10까지의 합: 55
1~1000까지의 합: 500500
1~10000까지의 합: 50005000

In [3]:
#2개 파라미터로 넘어온 값을 x,y로 받고
def intsum(x,y):
    sum=0;
    #반복은 x부터 y+1까지 1씩 증가해서 반복
    for i in range(x,y+1,1):
        #sum에 누적
        sum+=i
    return sum
#함수 실행한 값 출력 순서대로 파라미터로 값을 넘겨준다.
print("1~10까지의 합:",intsum(1,10))
print("100~1000까지의 합:",intsum(100,1000))
print("5000~10000까지의 합:",intsum(5000,10000))

1~10까지의 합: 55
100~1000까지의 합: 495550
5000~10000까지의 합: 37507500

In [4]:
#매게변수 x,y로 값을 받아온다.
def intsum(x,y):
    sum=0;
    #1부터 10까지 반복 1씩 증가
    for i in range(x,y+1,1):
        #누적
        sum+=i
    #sum값을 리턴
    return sum
#함수 실행뒤 리턴된 값을 출력, 55에서 +5해서 60 출력
print("1~10까지의 합에 5를 더함:",intsum(1,10)+5)
#100에서부터 1000까지반복돌려서 누적된 값에 33을 곱한거 출력
i=intsum(100,1000)*33
print("100~1000까지의 합에 33을 곱함:",i)

1~10까지의 합에 5를 더함: 60
100~1000까지의 합에 33을 곱함: 16353150

In [8]:
#파라미터 x,y로 값을 받아와 반복 실행
def intsum(x,y):
    sum=0;
    #100부터 1000까지 반복 1씩 증가
    for i in range(x,y+1,1):
        #sum에다 누적
        sum+=i
    print("함수내부에서 sum값을 출력:",sum)
#리턴한 값이 없어서 i에는 아무값이 안들어가있다.
#그래서 아래 None을 출력
i=intsum(100,1000)
print("100~1000까지의 합:",i)
print("100~1000까지의 합에 33을 곱함:",i)

함수내부에서 sum값을 출력: 495550
100~1000까지의 합: None
100~1000까지의 합에 33을 곱함: None

In [17]:
def titleprint():
    #별을 50번 출력
    print("="*50)
    #아래 탭한번씩 하면서 출력
    print("이름\t국어\t영어\t수학\t총점\t평균")
    print("="*50)
    
def itemprint(name,kor,eng,mat):
    #매게변수로 값들을 받아오면 아래 출력 / kor+eng+mat 합계 / (kor+eng+mat)//3 평균
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)
    
def tailprint():
    #누적할 변수 생성
    totkor=0
    #각각의 점수를 다 각각의 변수에 누적한다.
    for i in ckor:
        totkor+=i
    toteng=0
    for i in ceng:
        toteng+=i
    totmat=0
    for i in cmat:
        totmat+=i
    print("="*50)
    #누적된 결과값을 출력한다.
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t",(totkor+toteng+totmat)//9,"\t",(totkor+toteng+totmat)/3//9)
    print("="*50)

cname=["나연","정연","모모","사나","지효","미나","다현","채영","쯔위"]
ckor =[ 100,100,90,90,100,80,70,80,100]
ceng =[ 90,100,100,80,100,70,60,100,100]
cmat =[ 100,80,100,90,100,90,100,90,100]

titleprint()

for i in range(9):
    itemprint(cname[i],ckor[i],ceng[i],cmat[i])
    
tailprint()

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 100 	 100 	 80 	 280 	 93
모모 	 90 	 100 	 100 	 290 	 96
사나 	 90 	 80 	 90 	 260 	 86
지효 	 100 	 100 	 100 	 300 	 100
미나 	 80 	 70 	 90 	 240 	 80
다현 	 70 	 60 	 100 	 230 	 76
채영 	 80 	 100 	 90 	 270 	 90
쯔위 	 100 	 100 	 100 	 300 	 100
==================================================
반총점	 810 	 800 	 850 	 273 	 91.0
==================================================

In [18]:
#인수 개수를 여러개 보낼때 *을 사용한다.
def sumsum(*num):
    sum=0
    #순서대로 값을 누적해서 리턴한다.
    for i in num:
        sum+=i
    return sum

#반복문에서 인자들을 순서대로 누적한 값을 출력한다.
print("case 1:", sumsum(1))
print("case 2:", sumsum(1,2,4))
print("case 3:", sumsum(1,2,34,567,8901))

case 1: 1
case 2: 7
case 3: 9505

In [19]:
#배열을 매게변수로 받는다
def sumsum(num):
    sum=0
    #안에 값을 순서대로 꺼내와 누적한다.
    for i in num:
        sum+=i
        #리턴한다.
    return sum
#누적된 값을 출력한다.
print("case 1:", sumsum([1]))
print("case 2:", sumsum([1,2,4]))
print("case 3:", sumsum([1,2,34,567,8901]))

case 1: 1
case 2: 7
case 3: 9505

In [20]:
#파라미터로 디폴트롤 정해준다
def defaultest (start,end=1000,step=1):
    sum=0
    #인자로 받은 값만큼 반복돌려 누적시키고 리턴
    for i in range(start,end+1,step):
        sum+=i
    return sum
#매게변수로 0,10,1을 보내면 0부터 10까지 1씩 반복해 누적된 값 출력
print("case 1:", defaultest(0,10,1))
#50,100만 보내면 default step1이 들어가서 50부터 100까지 누적해서 값 출력
print("case 2:", defaultest(50,100))
#deafault 1000이랑 1이 들어가서 100부터 1000까지 1씩 증가해서 누적 값 출력
print("case 3:", defaultest(100))

case 1: 55
case 2: 3825
case 3: 495550

In [21]:
def defaultest (start,end=1000,step=1):
    sum=0
    for i in range(start,end+1,step):
        sum+=i
    return sum

print("case 1:", defaultest(0,10,1))
print("case 2:", defaultest(start=0,end=10,step=1))
#키워드를 지정하면 인자 순서상관없이 잘 잘 읽는다.
print("case 3:", defaultest(step=1,end=10,start=0))
#맨뒤로 부터만 키워드 인수를 사용하고 앞은 일반인수
print("case 4:", defaultest(0,10,step=1))
#맨뒤로 부터만 키워드 인수를 사용하고 앞은 일반인수
print("case 5:", defaultest(0,step=1,end=10))

case 1: 55
case 2: 55
case 3: 55
case 4: 55
case 5: 55

In [23]:
def defaultest (start,end=1000,step=1):
    sum=0
    for i in range(start,end+1,step):
        sum+=i
    return sum
#에러 발생 -> 뒤에서부터 키워드 인수를 사용해야 한다.
print("error1:", defaultest(0,step=1,10))
print("error2:", defaultest(start=0,step=1,10))

SyntaxError: positional argument follows keyword argument (3680855699.py, line 7)

In [30]:
#인수 개수를 가변으로 받는다.
def testfunc (**args):
    start=args["start"] # 키워드 가변
    end=args["end"] # 키워드 가변
    step=args["step"] # 키워드 가변
    sum=0
    #메서드 호출할때 파라미터로 값을 보낸기준으로 반복돌아 누적
    for i in range(start,end+1,step):
        sum+=i
    #누적된 값을 출력
    return sum
#start=args["start"] 보낸 값을 start에 담아 반복돌아 누적된값 출력
print("case 1:", testfunc(start=0,end=10,step=1))
print("case 2:", testfunc(end=100,step=1,start=10))

case 1: 55
case 2: 5005

In [35]:
#가변과 키워드 가변을 매게변수로 받는다.
def testfunc (*s,**args):
    #아래는 값을 담는다.
    start=args["start"]
    end=args["end"]
    step=args["step"]
    #s에서 순서대로 값을 c에 담아 출력한다 * & = 순으로
    for c in s:
        #순서대로 출력 "*,"&","="
        print(" "*start,end="")
        for i in range(start,end+1,step):
            #순서대로 출력 "*","?","=","%"
            print(c,end="")
        print("\n")
        
print("="*30)
testfunc("*","&","=",start=0,end=10,step=1)
print("="*30)
testfunc("*","?","=","%",start=3,end=10,step=1)

==============================
***********

&&&&&&&&&&&

===========

==============================
   ********

   ????????

   ========

   %%%%%%%%

In [36]:
#함수 안에서 지역변수로 선언했기때문에
#밖에서 a를 찾을수 없다
def test():
    a=1
    
test()
print(a)

NameError: name 'a' is not defined

In [37]:
def testf1():
    a=1
    print("testf1:",a)
    
def testf2():
    a="즐거운 실습"
    print("testf2:",a)
    
def testf3():
    a=3.141592
    print("testf3:",a)
#함수 f1호출헤서 안에 있는 print()출력 아래 동일 
testf1()
testf2()
testf3()
#위에는 다 지역변수이고 아래는 전역변수a로 랄랄라 초기화
a="랄랄라"
#출력
print(a)

testf1: 1
testf2: 즐거운 실습
testf3: 3.141592
랄랄라

In [39]:
def testf1():
    print("testf1: 현재 달러환율은 1달러당 ",exrate,"원이며")
    print("testf1: 미화 100달러는 ",100*exrate,"원 입니다")
    
def testf2():
    #여기서 exrate값을 1011로 초기화해서 1011로 출력되게된다.
    exrate=1011
    print("testf2: 현재 달러환율은 1달러당 ",exrate,"원이며")
    print("testf2: 미화 100달러는 ",100*exrate,"원 입니다")
    
#전역변수로 선언했기 때문에 testf1에서 1021원으로 출력된다.   
exrate=1021
testf1()
exrate=1120
testf1()
print()
testf2()
testf1()

testf1: 현재 달러환율은 1달러당  1021 원이며
testf1: 미화 100달러는  102100 원 입니다
testf1: 현재 달러환율은 1달러당  1120 원이며
testf1: 미화 100달러는  112000 원 입니다

testf2: 현재 달러환율은 1달러당  1011 원이며
testf2: 미화 100달러는  101100 원 입니다
testf1: 현재 달러환율은 1달러당  1120 원이며
testf1: 미화 100달러는  112000 원 입니다

In [42]:
def testf1():
    """
이 함수는 의엽씨의 환상적인 함수이다.
인수 값에 숫자만큼 1부터 해당 값을 더한 값을 출력해 준다.
"""
    sum=0
    for i in range(n+1):
        sum+=i
    print("합:",sum)
    
# 해당 함수가 궁금할때 help()하면 """의 설명문을 읽을수있다.
help(testf1)

Help on function testf1 in module __main__:

testf1()
    이 함수는 홍필두가 최선을 다하여 멋지게 만든 함수
    인수 값에 숫자만큼 1부터 해당 값을 더한 값을 출력해 준다