In [1]:
#a에 리스트 1,2,3,4,5 저장한다.
a=[1,2,3,4,5]
#순서대로 출력한다.
print(a[0],a[1],a[2],a[3],a[4])

1 2 3 4 5

In [2]:
#파이썬은 자바와는 다르게 다른타입도 같이 저장된다.
a=[11,"abc",12.3333,"안녕",2+3j]
a[0],a[1],a[2],a[3],a[4]
print(a[0],a[1],a[2],a[3],a[4])

11 abc 12.3333 안녕 (2+3j)

In [3]:
#이렇게 인덱스로 값을 변경도 할수있다.
a[1]=1234; a[4]="홍길동"
print(a)

[11, 1234, 12.3333, '안녕', '홍길동']

In [7]:
#score 리스트 값 90,80,70,60,30 저장
score=[90,80,70,60,30]
#누적할 변수 생성
sum=0
#값을 하나씩 s로 꺼내와서
for s in score:
    #출력학ㅎ sum에다 누적
    print("점수(",s,")")
    sum+=s
        
print("총점:",sum)

점수( 90 )
점수( 80 )
점수( 70 )
점수( 60 )
점수( 30 )
총점: 330

In [9]:
#역방향으로 -n + -1로 지정할수 있다.
#즉 -5,-4,-3,-2,-1순으로 저장
a=[1,2,3,4,5]
print(a[0],a[-5])
print(a[1],a[-4])
print(a[2],a[-3])
print(a[3],a[-2])
print(a[4],a[-1])

1 1
2 2
3 3
4 4
5 5

In [10]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[2:8]) # 2부터 8보다 작을 때까지(2,3,4,5,6,7)
print(a[:4]) #처음부터 4보다 작을 때까지(0,1,2,3)
print(a[5:]) #5부터 끝까지
print(a[0:6:3]) #0부터 6보다 작을때 까지(6은 제외 0,3)

[3, 4, 5, 6, 7, 8]
[1, 2, 3, 4]
[6, 7, 8, 9, 10]
[1, 4]

In [11]:
# 리스트로 구성된 리스트
a=[[1,2,3],[4,5,6],[7,8,9]]
#두번째 인덱스 출략
print(a[2])
#두번째 인덱스의 두번째 인덱스 출력
print(a[2][2])

[7, 8, 9]
9

In [12]:
#범위를 벗어나 에러
print(a[1][3])

IndexError: list index out of range

In [14]:
print(a[1][2])
#a에 리스트 안에 리스트 값 초기화
a=[[1,2],[3,4,5],6]
print(a)
#a의 두번째 인덱스 출력
print(a[2])
#a의 첫번째 인덱스 출력
print(a[1])

6
[[1, 2], [3, 4, 5], 6]
6
[3, 4, 5]

In [15]:
#1부터 10으로 리스트를 구성하여 그 요소 하나하나에 3을 곱한다
a=[ n * 3 for n in range (1,10)]
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [16]:
#위랑 동일한데 조건문에 2로 나누어떨어지는 값만 저장
a=[ n * 3 for n in range (1,10) if n % 2 ==0 ]
print(a)

[6, 12, 18, 24]

In [77]:
#이중 리스트로 값들을 초기화 한다.
score=[["나연",100,90,100],
        ["정연",90,90,100],
        ["모모",80,70,90],
        ["사나",90,90,80],
        ["지효",100,80,80],
        ["미나",50,90,90],
        ["다현",80,60,100],
        ["채영",70,80,90],
        ["쯔위",100,90,90]]

name=0;kor=1;eng=2;mat=3

#타이틀 출력
def title():
    print("="*50)
    print("이름\t국어\t영어\t수학\t총점\t평균")
    print("="*50)

#score 리스트에 있는 값들을 하나씩 꺼내와 출력한다.
def titleprint():
    for one_student in score:
        #itemprint함수 호출에 매게변수로 값을 보낸다.
        itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])

#값을 받으면 합계와 평균을 구해서 출력한다.
def itemprint(name,kor,eng,mat):
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)
    
#총점을 출력한다
def tailprint():
    #총점을 누적할 변수들 생성
    totkor=0
    toteng=0
    totmat=0
    #각각의 학생을 반복돌려 점수를 누적한다.
    for one_student in score:
        totkor+=one_student[kor]
        toteng+=one_student[eng]
        totmat+=one_student[mat]
    print("="*50)
    #국어,영어,수학, 합계, 평균을 출력한다
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t",(totkor+toteng+totmat),
          "\t",(totkor+toteng+totmat)/3//9)
    print("="*50)

  
title()
titleprint()
tailprint()

==================================================
이름	국어	영어	수학	총점	평균
==================================================
나연 	 100 	 90 	 100 	 290 	 96
정연 	 90 	 90 	 100 	 280 	 93
모모 	 80 	 70 	 90 	 240 	 80
사나 	 90 	 90 	 80 	 260 	 86
지효 	 100 	 80 	 80 	 260 	 86
미나 	 50 	 90 	 90 	 230 	 76
다현 	 80 	 60 	 100 	 240 	 80
채영 	 70 	 80 	 90 	 240 	 80
쯔위 	 100 	 90 	 90 	 280 	 93
==================================================
반총점	 760 	 740 	 820 	 2320 	 85.0
==================================================

In [35]:
#리스트 값 초기화
a=[1,2,3,4,5]
#출력
print(a)
#인덱스 두번째 삭제
del a[2]
#삭제되고 뒤에께 앞으로 땡겨진다
print(a)
del a[2]
print(a)
#다 지운더
a.clear()
#빈 리스트 출력
print(a)
#리스트까지 지운다
del a
#출력할께 없다
print(a)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
[1, 2, 5]
[]

NameError: name 'a' is not defined

In [38]:
#a가 없기때문에 에러가 난다.
a.append(1)

NameError: name 'a' is not defined

In [39]:
#빈리스트 생성
a=[]
#값을 1,3,5 추가한다.
a.append(1)
a.append(3)
a.append(5)
#출력한다.
print(a)
#a에 4,5,6값 초기화
a=[4,5,6]
#10값 추가한다.
a.append(10)
#출력
print(a)

[1, 3, 5]
[4, 5, 6, 10]

In [40]:
#a에 1,2,3,4,5 리스트 생성뒤 갑 대입
a=[1,2,3,4,5]
#마지막에 6 추가
a.append(6)
print(a)
#3번째 인덱스에 12추가
a.insert(3,12)
print(a)
#4번째 인덱스에 15추가
a.insert(4,15)
print(a)
a.insert(3,1)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 12, 4, 5, 6]
[1, 2, 3, 12, 15, 4, 5, 6]
[1, 2, 3, 1, 12, 15, 4, 5, 6]

In [45]:
#여러 값 삽입시 a[n:n]사용 5인덱스에 값 추가
a=[1, 2, 3, 1, 12, 15, 4, 5, 6]
a[5:5]=[1,2,3,4,5,6]
print(a)

[1, 2, 3, 1, 12, 1, 2, 3, 4, 5, 6, 15, 4, 5, 6]

In [42]:
#a[n] 대입하면 리스트가 대입된다
a=[1, 2, 3, 1, 12, 15, 4, 5, 6]
a[5]=[1,2,3,4,5,6]
print(a)

[1, 2, 3, 1, 12, [1, 2, 3, 4, 5, 6], 4, 5, 6]

In [46]:
a=[1,2,3]
b=[4,5,6]
#a리스트와 b리스트를 합친다.
a=a+b
print(a)
a=[1,2,3]
b=[4,5,6]
#위랑 같은 의미이다.(연결)
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [47]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]
print(a)
a.remove(7) #첫 번째 만나는 7값을 가진 리스트 삭제
print(a)
a.remove(7) #첫 번째 만나는 7값을 가진 리스트 삭제
print(a)
a[5]=[] #다섯 번째에 빈 값[]이 들어 있는 리스트를 추가한다.
print(a)
a[2:4]=[]
print(a)

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]
[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 8]
[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 8]
[1, 2, 3, 3, 4, [], 5, 6, 7, 7, 8]
[1, 2, 4, [], 5, 6, 7, 7, 8]

In [48]:
#4번째 인덱스값 삭제한다.
del(a[4])
print(a)
#3번째 인덱스값 삭제한다.
del(a[3])
print(a)
a.clear() #다 지우나 빈 값에 리스트가 남음
print(a)
del(a) #리스트 정의까지 삭제
print(a)

[1, 2, 4, [], 6, 7, 7, 8]
[1, 2, 4, 6, 7, 7, 8]
[]

NameError: name 'a' is not defined

In [54]:
#pop()은 해당위치를 값을 보여주고 삭제한다. n이 없다면 마지막값 리턴
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]
print(a.pop())
print(a.pop())
print(a)
print(a.pop())
print(a.pop(3))
print(a)
print(a.pop(6))
print(a)
print(a.pop(6))
print(a.pop(0))
print(a)

8
7
[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7]
7
3
[1, 2, 3, 4, 4, 5, 6, 7, 7]
6
[1, 2, 3, 4, 4, 5, 7, 7]
7
1
[2, 3, 4, 4, 5, 7]

In [56]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]
print(a.index(7)) #첫번째 7의 위치를 알려줌
print(a.index(8)) #값 8의 위치는 12(0부터 시작)
print(a.index(4)) #값 4의 위치는 4(0부터 시작)
print(a.count(7)) #7은 4번 나옴

8
12
4
4

In [57]:
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]
#a리스트 최소값 출력
print(min(a))
#최대값 출력
print(max(a))
#리스트 갯수 출력
print(len(a))

1
8
13

In [58]:
a=[1,8,5,6,2,4,5,2,6,9,4]
#a리스트를 거꾸로 뒤집는다.
a.reverse()
print(a)
#a리스트를 순서대로 정렬한다.(오름차순)
a.sort()
print(a)

[4, 9, 6, 2, 5, 4, 2, 6, 5, 8, 1]
[1, 2, 2, 4, 4, 5, 5, 6, 6, 8, 9]

In [76]:
import random as r #랜덤함수 사용하기 위해서 임포트

ame=0;kor=1;eng=2;mat=3
#값을 담아줄 리스트 생성
one_person=[]
score=[]
#10번 반복 돈다.
for i in range(10):
    #리스트에 값을 추가한다 이름과 점수를 10~100사이 랜덤값 가져와서 추가한다.
    one_person.append("name"+str(i)) #이름
    one_person.append(r.randrange(10,100)) #국어 10부터 100까지 임의에 값을 추출
    one_person.append(r.randrange(10,100)) #영어
    one_person.append(r.randrange(10,100)) #수학
    score.append(one_person[:]) #값을 복사해서 추가함에 주의할 것
    #score리스트에 그대로 다 추가하고 one_person리스트는 값을 비운다.
    one_person.clear()

#타이틀 출력
def title():
    print("="*50)
    print("이름\t국어\t영어\t수학\t총점\t평균")
    print("="*50)

#score 리스트에 있는 값들을 하나씩 꺼내와 출력한다.
def titleprint():
    #score리스트 값 하나하나 가져와 반복돈다
    for one_student in score:
        #itemprint함수 호출하여 값을 보내준다.
        itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])
        
#파라미터로 값을 받고 점수들과 합계 평균을 출력한다.
def itemprint(name,kor,eng,mat):
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)
    
#총점을 출력한다
def tailprint():
    #총점을 누적할 변수들 생성
    totkor=0
    toteng=0
    totmat=0
    #각각의 학생을 반복돌려 점수를 누적한다.
    for one_student in score:
        totkor+=one_student[kor]
        toteng+=one_student[eng]
        totmat+=one_student[mat]
    print("="*50)
    #국어,영어,수학, 합계, 평균을 출력한다
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t",(totkor+toteng+totmat),
          "\t",(totkor+toteng+totmat)/3//9)
    print("="*50)

#메서드들 호출한다.
title()
titleprint()
tailprint()

==================================================
이름	국어	영어	수학	총점	평균
==================================================
name0 	 22 	 88 	 38 	 148 	 49
name1 	 84 	 19 	 54 	 157 	 52
name2 	 92 	 57 	 69 	 218 	 72
name3 	 68 	 79 	 85 	 232 	 77
name4 	 76 	 29 	 46 	 151 	 50
name5 	 45 	 71 	 49 	 165 	 55
name6 	 21 	 45 	 81 	 147 	 49
name7 	 85 	 69 	 32 	 186 	 62
name8 	 77 	 50 	 22 	 149 	 49
name9 	 27 	 86 	 35 	 148 	 49
==================================================
반총점	 597 	 593 	 511 	 1701 	 63.0
==================================================

In [78]:
#튜블은 값을 변경할수 없다. ()로 정의
#근데 아래처럼 출력은 가능하다.
a=(1,8,5,6,2,4,5,2,6,9,4)
#a출력
print(a)
#5번째 인덱스 출력
print(a[5])
#3번4번인덱스 출력
print(a[3:5])
#3부터 7까지 출력
print(a[3:8])
#a곱해서 출력
print(a*2)

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)
4
(6, 2)
(6, 2, 4, 5, 2)
(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [79]:
 a[1]=5

TypeError: 'tuple' object does not support item assignment

In [80]:
def location():
    latitude = 2, 17403 # 위도
    longitude=41,40338 #경도
    return latitude,longitude #이런방식의 리턴은 튜플로 반환

a=location()
print(a)

((2, 17403), (41, 40338))