In [4]:
#딕셔너리 => 키와 밸류 방식으로 저장
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95}
#키값을 찾으면 밸류값을 리턴한다.
print(a["수학"])
print(a["이름"])

95
홍길동

In [5]:
#a딕셔너리의 키값을 리턴
print(a.keys())
#a딕셔너리의 밸류값을 리턴
print(a.values())
#a딕셔너리의 키와 밸류값 리턴
print(a.items())

dict_keys(['이름', '국어', '영어', '수학'])
dict_values(['홍길동', 100, 88, 95])
dict_items([('이름', '홍길동'), ('국어', 100), ('영어', 88), ('수학', 95)])

In [8]:
#a에 키밸류값을 담는다.
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95}
#반복문을 통해 키와 밸류 출력
for i in a.items():
    print (i,end=",")
#반복문을 통해 키값 출력
for i in a.keys():
    print (i,end=",")
#반복문을 통해 밸루값 출력
for i in a.values():
    print (i,end=",")

('이름', '홍길동'),('국어', 100),('영어', 88),('수학', 95),이름,국어,영어,수학,홍길동,100,88,95,

In [9]:
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95}
#get은 키값을 찾아 없으면 none을 리턴한다.
print(a.get("과학"))
#없으면 출력문도 지정할수있다.
print(a.get("과학","없는과목입니다"))
#키값이 있으면 해당 밸류값 리턴
print(a.get("수학","없는과목입니다"))

None
없는과목입니다
95

In [13]:
#"""확장형 문자열
text="""안녕하셔요. 오늘은 날씨가 매우 화창합니다.
그래서 기분이 매우 좋네요
너도 기분이 좋은가요 랄라랄랄라라라라라라 abc임마"""

a=dict() #하나의 딕셔너리 자료형을 정의
for c in text: #위에 정의한 텍스트를 하나씩 추출하여 처리
    if c not in a: #해당 추출글자가 지금까지의 딕셔너리에 없다면
        a[c]=1 #그때는 최초 1값으로 시작
    else: #이 경우는 해당 추출글자의 딕셔너리가 있다
        a[c] +=1 #그럼 해당 딕셔너리 키에 해당되는 값을 하나더함
print(a)

{'안': 1, '녕': 1, '하': 1, '셔': 1, '요': 3, '.': 2, ' ': 11, '오': 1, '늘': 1, '은': 2, '날': 1, '씨': 1, '가': 2, '매': 2, '우': 2, '화': 1, '창': 1, '합': 1, '니': 1, '다': 1, '\n': 2, '그': 1, '래': 1, '서': 1, '기': 2, '분': 2, '이': 2, '좋': 2, '네': 1, '너': 1, '도': 1, '랄': 3, '라': 7, 'a': 1, 'b': 1, 'c': 1, '임': 1, '마': 1}

In [14]:
b=dict() #딕셔너리 하나 더 정의
l=list(a.keys()) #앞에 딕서너리에 키만 뽑아 리스트를 만듦
l.sort() #해당 리스트 소트
for c in l: #각 리스트에 대하여 (결국 키값) 하나씩 뽑음
    b[c]=a[c] # 새로운 딕셔너리는 키값 순서데로 다시 만듦
print(b)

{'\n': 2, ' ': 11, '.': 2, 'a': 1, 'b': 1, 'c': 1, '가': 2, '그': 1, '기': 2, '날': 1, '너': 1, '네': 1, '녕': 1, '늘': 1, '니': 1, '다': 1, '도': 1, '라': 7, '랄': 3, '래': 1, '마': 1, '매': 2, '분': 2, '서': 1, '셔': 1, '씨': 1, '안': 1, '오': 1, '요': 3, '우': 2, '은': 2, '이': 2, '임': 1, '좋': 2, '창': 1, '하': 1, '합': 1, '화': 1}

In [16]:
#집합 중복이 제거된다. {}
a={1,2,2,2,2,3,3,3,4,5}
#중복이 제거된걸 볼수있다.
print(a)
#set()함수를 통해 집합으로 변환한다.
print(set(("a",1,2)))
print(set("a"))
print(set({"이름":"홍길동", "국어":100,
"영어":88, "수학": 95}))

{1, 2, 3, 4, 5}
{1, 2, 'a'}
{'a'}
{'이름', '국어', '영어', '수학'}

In [17]:
#add(값) 원소 추가 시 사용함
#remove(값) 원소 제거 시 사용함
a={1,2,3,4,5}
print(a)
#0 추가
a.add(0)
print(a)
a.add(2.4)
print(a)
#3 제거
a.remove(3)
print(a)

{1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5, 2.4}
{0, 1, 2, 4, 5, 2.4}

In [18]:
#집합연산의 합집합(|), 교집합(&), 차집합(-), 배타적 차집합(^)
A={1,2,3,4,5,6,7}
B={7,8,9,10}
#합집합 되서 7이 1개가된다.
print(A|B)
#교집합이라 7만 출력
print(A&B)
#차집합 
print(A-B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{7}
{1, 2, 3, 4, 5, 6}

In [31]:
#비교 가능하다.
print({1,2,3} < {1,2})
print({1,2,3} > {1,2})
print({1,2,3} >= {1,2})
print({1,2,3} == {1,2})
print({1,2,3} == {3,1,2})
print({1,2,3} == {3,1,2})

False
True
True
False
True
True

In [33]:
a=["a","b","c","d","e"]
b={}
#a의 갯수로 반복을통해 a값을 b에 담는다.
for i in range (len(a)):
    b[i]=a[i] #a는 리스트 b는 딕셔너리
print(b)

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [36]:
#enumerate() 함수는 요소를 0부터 차례의 숫자로 대입해 준다
a=["a","b","c","d","e"]
b=enumerate(a) #여기 까지는 중간단계
print(b)
#enumerate()함수로 차례로 숫자들어간 값을 딕셔너리 b에 담고 출력
b=dict(enumerate(a))
c=list(enumerate(a)) #딕셔너리와 리스트를 만든다>>>
print(b)
print(c)

<enumerate object at 0x000002417BDE86C0>
['a', 'b', 'c', 'd', 'e']
{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}
[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [37]:
#zip은 두 컬렉션을 하나씩 대응관계를 만들어 준다.
a={1,2,3,4,5,6,7,8} 
b={"a","b","c","d","e"}
zip(a,b) #zip만으로는 단순히 object임
#대응관계를 만들어줘 6부터 관계가 없어 사라진다.
#딕셔너리에 담고 출력
c=dict(zip(a,b))
#리스트에 담고 출력
d=list(zip(a,b))
print(c)
print(d)
#튜플 a 생성 및 값 담는다.
a=(1,2,3,4,5,6,7,8) 
#리스트 a 생성 및 값 담는다.
b=["a","b","c","d","e"]
c=dict(zip(a,b))
d=list(zip(a,b))
print(c)
print(d)

{1: 'a', 2: 'b', 3: 'd', 4: 'c', 5: 'e'}
[(1, 'a'), (2, 'b'), (3, 'd'), (4, 'c'), (5, 'e')]
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [44]:
#filter 인자 컬렉션의 값을 하나씩 대응하여 함수를 실행한다.
#함수 func생성해서 인자 받으면 나누기2값을 리턴
def func(x):
    return x/2

#튜플 생성 및 값담는다.
x=(1,2,3,4,5,6)

#반복을 통해 fileter(함수명,인자 컬렉션)
for i in filter(func,x):
    print(i)

1
2
3
4
5
6

In [45]:
#인자를 여러 개를 전달할 경우 map함수를 사용한다
def func(x,y):
    #x와y값을 더해 리턴
    return x+y

x=(1,2,3,4,5,6)
y=(7,8,9,10,11,12)

#filter로 인자를 여러개 전달하면 에러
for i in map(func,x,y):
    print(i)

8
10
12
14
16
18

In [47]:
#lambda는 전달한 함수가 간단한 경우 한 줄 안에 기입가능하다.
x=(1,2,3,4,5,6)
y=(7,8,9,10,11,12)
#lambda를 통해 x+y값을 출력한다.
for i in map(lambda x,y : x+y, x,y):
    print(i)

8
10
12
14
16
18

In [49]:
#컬렉션을 대입하면 컬렉션의 값이 복사되는 것이 아니라 주소가 복사된다.
#그래서 b인덱스2에 5을 대입해도 주소가 같아져 a도 값이 추가된다.
a=[1,2,3]
b=a
b[2]=5
print(a)
print(b)
b[1]=3
print(a)
print(b)

[1, 2, 5]
[1, 2, 5]
[1, 3, 5]
[1, 3, 5]

In [53]:
# b=a[:]또는 b=a.copy()를 사용(옅은 복사)
# 이렇게 복사하게 되면 값을 변경해도 원 컬렉션은 변경이 안된다.
a=[1,2,3]
#a리스트 값을 b로 복사
b=a[:]
#b인덱스 2번째에 5값을 담는다.
b[2]=5
print(a)
print(b)
print()
a=[1,2,3]
#a리스트 값을 b로 복사
b=a.copy()
b[2]=5
print(a);print(b)

[1, 2, 3]
[1, 2, 5]

[1, 2, 3]
[1, 2, 5]

In [54]:
a=[[1,2],3,4]
#a리스트를 복사해서 b에 담는다.
b=a.copy()
print(b)
#b이중 리스트라 0번째 리스트의 1번째 값을 3으로 변경
b[0][1]=3
print(b)
#.copy()로 복사했기때문에 a값은 변경되지 않는다.
print(a)
a=[[1,2],3,4]
#a.copy() 같은 의미이다.
b=a[:]
print(b)
b[0][1]=3
print(a)

[[1, 2], 3, 4]
[[1, 3], 3, 4]
[[1, 3], 3, 4]
[[1, 2], 3, 4]
[[1, 3], 3, 4]

In [60]:
#deepcopy()사용하기 위해 임포트
#아래레벨의 모든 컬렉션을 복사할 경우 deepcopy를 사용한다.
import copy as c

a=[[1,2],3,4]
b=c.deepcopy(a)
#b이중 리스트라 0번째 리스트의 1번째 값을 3으로 변경
b[0][1]=3
#a,b를 출력
print(a,b)

[[1, 2], 3, 4] [[1, 3], 3, 4]