In [1]:
a=3
b=4
#c는 123 + (456 * 6)
c=123+456*6 
print(a,b,c)
#결과는 3 4 2859가 출력된다.

3 4 2859

In [2]:
a=3
b=4
c=123+456*6
print(a+b=c)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (4274709336.py, line 4)

In [3]:
a=3
b=4
c=123+456*6
print(123+456=a)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (72575802.py, line 4)

In [4]:
a = 1
a = a + "안녕" 
#정수와 문자열을 더하려고 하니까 에러가 난다.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
a = 1
b = 2
#위에 선언된대로 출력된다.
print(a,b)
a,b = b,a
#위에처럼 값을 서로 바꿀수가 있다.
print(a,b)

1 2
2 1

In [6]:
a,b,c,d,e,f = 1,2,"안녕","하세요~",3,4
#,를 기준으로 각가의 변수에 값이 담긴거다.
print(a,b,c,d,e,f)

1 2 안녕 하세요~ 3 4

In [7]:
a=b=1
#1을 b에다 대입하고 b의 값을 a에 대입한다.
#1,1이 출력된다.
print(a,b)
b=2
#위에 b의 값을 수정해서 1,2 출력
print(a,b)

1 1
1 2

In [8]:
a=b=[1,2,3]
#배열생성뒤 1,2,3값을 넣은뒤 a,b에 담는다.
#a,b를 출력한다.
print(a,b)
#a의 첫번째 인덱스의 값을 4로 변경한다.
a[1] = 4
print(a,b)

[1, 2, 3] [1, 2, 3]
[1, 4, 3] [1, 4, 3]

In [9]:
#a변수에 배열값을 1,2,3,4,5 담는다. 
a=[1,2,3,4,5]
#a값을 복사해서 b에 담는다.
b=a[:]
#출력한다.
print(a,b)
#a의 2번째 인덱스를 5로 변경한다.
a[2] = 5
#그럼 a의 값만 변경되서 출력된다.
print(a,b)

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]
[1, 2, 5, 4, 5] [1, 2, 3, 4, 5]

In [10]:
import sys
a = 123
print(sys.getrefcount(123))

29

In [11]:
import sys
#a 123값 대입
a = 123
#123을 어느 공간에 만들어 놓고 참조하는 방식이다.
print(sys.getrefcount(123))
b = 123;
#b=123을 만나면 참조횟수가 증가한다.
print(sys.getrefcount(123))
c = 123;
print(sys.getrefcount(123))

33
34
35

In [14]:
## **거듭제곱
print(1+2*3/4)
print(2**3)
print(10/3)
print(1e12*123456789012)
a=1+2j
print(a+(123+12j))

2.5
8
3.3333333333333335
1.23456789012e+23
(124+14j)

In [15]:
print(5/2)
## // 정수형 나눗셈
print(5//2)
## % 나머지
print(5%2)

2.5
2
1

In [16]:
#a에 1초기화, 1을 더해준다.
a = 1; a=a+1; print(a)
#a에 1초기화, 1을 더해준다.
a = 1; a+=1; print(a)
#2의 제곱으로 초기화
a*=2; print(a)
#a에 1초기화, 1을 빼준다.
a=1; a-=1; print(a)
#a에 -1초기화
a-=1; print(a)

2
2
4
0
-1

In [17]:
a = 1
#파이썬은 ++증감이 안된다.
a++

SyntaxError: invalid syntax (3857774950.py, line 2)

In [18]:
a = 1
#파이썬은 --빼기가 안된다.
a--

SyntaxError: invalid syntax (1653859795.py, line 2)

In [30]:
#a에 양수1과 음수1을 저장뒤 출력
a =+ 1; print(a); a =- 1; print(a)

1
-1

In [31]:
a = "멍멍이"
b = "고양이"
#a문자열과 b문자열 합쳐서 출력
print(a+b)
#a문자열3번 b문자열 2번 합쳐서 출력
print(a*3+b*2)
#-20번 출력
print("-"*20)

멍멍이고양이
멍멍이멍멍이멍멍이고양이고양이
--------------------

In [32]:
a = 1
#문자열과 정수를 합쳐서 b에 초기화하려니까 에러
b = "강아지" + a + "마리"

TypeError: can only concatenate str (not "int") to str

In [33]:
a = 1
#a를 문자열로 형변환 해서 문자열로 b에 담음
b = "강아지" + str(a) + "마리"
print(b)

강아지1마리

In [45]:
#ord()문자의 내부코드값 반환
print(ord("가"))
#hex()16진수 표현 함수
print(hex(ord("a")))
#a부터 z까지 반복
#ord('a') == 97 부터 122 까지
#각각의 숫자를 c에 담고 반복
for c in range (ord('a'), ord('z') + 1) :
    #출력 해당 숫자의 16진수 , 문자형으로 형변환
    print(hex(c), "=", chr(c),", ",end="")

44032
0x61
122
0x61 = a , 0x62 = b , 0x63 = c , 0x64 = d , 0x65 = e , 0x66 = f , 0x67 = g , 0x68 = h , 0x69 = i , 0x6a = j , 0x6b = k , 0x6c = l , 0x6d = m , 0x6e = n , 0x6f = o , 0x70 = p , 0x71 = q , 0x72 = r , 0x73 = s , 0x74 = t , 0x75 = u , 0x76 = v , 0x77 = w , 0x78 = x , 0x79 = y , 0x7a = z ,

In [47]:
#문자열이 들어간 a에 +정수를 할수없다.
a = "123"; print(a+1)

TypeError: can only concatenate str (not "int") to str

In [48]:
#a를 int로 형변환 한뒤 덧셈
a = "123" ; print(int(a) + 1)
#실수형 a를 int로 형변환해서 소수점 사라짐
a = 12.3; print(int(a))

124
12

In [49]:
#실수형문자열로 담겨있어서 int로 형변환한안됨
a = "12.3"; print(int(a))

ValueError: invalid literal for int() with base 10: '12.3'

In [50]:
#실수형으로 형변환
a = "12.3"; print(float(a))
#1 + 1.1 +12 출력
a = 1.1; print(1+a+12)
#a를 int로 형변환 .1 사라져서 14출력
print(1+int(a)+12)

12.3
14.1
14

In [53]:
#int로 형변환 .14 버림
print(int(3.14))
#round()반올림,3.14,1 맨뒤에 있는 숫자로 소수점자리 출력
print(round(3.14)); print(round(3.14,1))
#-4이므로 천의자리에서 반올림
print(round(123456,-4))

3
3
3.1
120000

In [54]:
#a에 1234567 초기화
a = 1234567
#만약 a가 1000으로 나누어서 나머지가 0이 아니라면
if (a % 1000 != 0) : 
    # a를 1000으로 나눠서 다시 곱해주면 천의자리가
    #다 사라지고 거기다 1000을 더하면 올림 처리
    a = int(a/1000) * 1000 + 1000
    # +1000을 안하면 내림처리
else :
    a = int(a/1000) * 1000
print(a)

1235000