In [6]:
print("국어 점수, 영어점수, 수학점수를 순서대로 입력하세요.") 
korScore = float(input("국어 : "))  //실수형으로 국어,영어,수학점수를 입력받는다.
engScore = float(input("영어 : ")) 
mathScore = float(input("수학 : ")) 
sumSore = int(korScore + engScore + mathScore) //3개의 과목의 합계를 sumSore에 담는다.
print("총 합계 점수는",sumSore) 
avgScore = sumSore / 3.0 //sumSore에서 3으로 나눈값을 avgScore에 담는다.
print("평균 점수는",avgScore)

국어 점수, 영어점수, 수학점수를 순서대로 입력하세요.
국어 : 65
영어 : 75
수학 : 86
총 합계 점수는 226
평균 점수는 75.33333333333333

In [20]:
print("점수를 입력해주세요~~")
score = int(input("점수 입력 : ")) //정수로 점수를 입력받아서 score에 담는다.
if score > 90 : //만약 score가 90보다 크다면
    print("학점은 A 입니다.") //출력
elif score > 80 : //아니면 score가 80보다 크다면
    print("학점은 B 입니다.") //출력
elif score > 70 :
    print("학점은 C 입니다.")
elif score > 60 :
    print("학점은 D 입니다.")
else :
    print("학점은 E 입니다.")

SyntaxError: invalid syntax (3379718689.py, line 2)

In [22]:
print("해당 반의 학생은 총 몇명이나요?")
print("총점을 구해다드릴께요")
allStudent = int(input("반 학생 전부 몇명? : "))
totalScore = 0;
i = 0;
while True :
    print(i,"번째 학생의 점수를 입력해주세요.")
    oneStudenScore = int(input("점수 : "))
    totalScore += oneStudenScore
    i += 1
    if allStudent == i :
        break
        
print("반학생의 총점은 ",totalScore)

해당 반의 학생은 총 몇명이나요?
총점을 구해다드릴께요
반 학생 전부 몇명? : 4
0 번째 학생의 점수를 입력해주세요.
점수 : 40
1 번째 학생의 점수를 입력해주세요.
점수 : 50
2 번째 학생의 점수를 입력해주세요.
점수 : 60
3 번째 학생의 점수를 입력해주세요.
점수 : 70
반학생의 총점은  220

In [1]:
a = 1
b = 2
a + b //출력되지 않는다.
print(a + b)
1 + 2 //출력되지 않는다.
print(1 + 2)

3
3

In [3]:
a = "아침"
b = "점심"
c = "저녁"
print(a,b,c)
print(a,b,c, sep ="먹고 ") 
print(a,b,c, sep ="먹고 " , end = "땡")

아침 점심 저녁
아침먹고 점심먹고 저녁
아침먹고 점심먹고 저녁땡

In [4]:
a = "아침"
b = "점심"
c = "저녁"
print(a,b,c)
print(a,b,c, sep ="먹고 ") //아침 점심 저녁
print(a,b,c, sep ="먹고 " , end = "") //아침먹고 점심먹고 저녁아침먹고 점심먹고 저녁아침먹고 점심먹고 저녁
print(a,b,c, sep ="먹고 " , end = "") 
print(a,b,c, sep ="먹고 " , end = "\n") //줄바꿈
print(a,b,c, sep ="자고 " , end = "\n") //먹고 점심먹고 저녁아침먹고 점심먹고 저녁

아침 점심 저녁
아침먹고 점심먹고 저녁
아침먹고 점심먹고 저녁아침먹고 점심먹고 저녁아침먹고 점심먹고 저녁
아침자고 점심자고 저녁

In [5]:
a = 22
b = 33
print(a,b, sep="+", end = "=") //,기준으로 +를 대입하고 마지막에 =를 대입한다.
print(a+b) //더한값을 출력한다.

22+33=55

In [6]:
a = input("너의 이름은 머니?") //a에다 문자열을 입력받는다.
print("제 이름은 ",a," 입니다.") //출력
b = input("너는 몇 살이니?") //b다 문자열을 입력받는다.
print("제 나이는 ",b," 살입니다.")

너의 이름은 머니?김의엽
제 이름은  김의엽  입니다.
너는 몇 살이니?31
제 나이는  31  살입니다.

In [11]:
a = input("a 값을 입력하셔~") //문자열 입력받는다.
b = input("b 값을 입력하셔~~")
print(a,b,sep="+", end = "=") //ab사이 ,를 +로 대입하고 마지막에 = 넣는다.
print(a+b) //이때는 문자열 계산으로 45
print("수치 계산",end = " : ")
print(a,b, sep = "+", end = "=" )
print(int(a)+int(b)) //이때는 int()정수형으로 바까줘서 9

a 값을 입력하셔~4
b 값을 입력하셔~~5
4+5=45
수치 계산 : 4+5=9

In [13]:
a = input("품목 : ") //문자열 입력
b = int(input("수량 : ")) //수량 정수형으로 입력
c = int(input("단가 : ")) //단가 정수형으로 입력
print(a," : ",b,"개 * ",c,"원 = 총",b*c,"원") //출력

품목 : 의엽
수량 : 5
단가 : 300
의엽  :  5 개 *  300 원 = 총 1500 원

In [14]:
a = 1 //a에다 1 대입
print(a) //1출력
a = 2
print(a) //위에서 2로 값을 바까줘서 2출력
b = 3 //b에다 3 대입
print(b)
print(a)

1
2
3
2

In [16]:
a = 1122; print(a); type(a) //type()변수형태 알려준다.
b = "hello"; print(b); type(b)
b = 12
type(b)

1122
hello

int

In [17]:
a = 1122; print(a); type(a) //1122출력
a = 11; print(a) //다시 11을 대입해서 11출력
del a //a를 지운다
print(a) //a를 못찾는다

1122
11

NameError: name 'a' is not defined